<html>
    <head>
        <title>Paganini</title>
    </head>
    <body>
        <div>
            <h1><strong>Paganini</strong></h1>
        </div>

        <div>
            <h2>Historia</h2>

            <p>Niccolo Paganini nació en <em>Italia</em> a finales del siglo XIX, es considerado mejor violinista de la historia.<p>

        </div>

        <div>
            <h2>Vida personal</h2

            <p>Se decia que tenia negocios con el diablo, y que fue el quien lo ayudo a realizar sus composiciones. Era un hombre mujeriego :)</p>

        </div>

        <div>
            <h2>Música</h2>

            <p>Revolucionó la composición al incluir acordes que extraños para la época, además de las habilidades y dificultades de ejecución</p>
        
        </div>

        <div>
            <h2>Repertorio</h2>

            <p><ul><li>24 Caprichos</li><li>Conciertos</li><li>Campanella</li><li>Moses</li></ul></p>

        </div>
    </body>
<html>
